.clsb-1 {
  fill: #edeae6;
}
.clsb-2 {
  fill: #fff;
}
.clsb-3 {
  fill: #493e37;
}
.clsb-4 {
  fill: #37291d;
}
.clsb-5 {
  fill: #302317;
}
.clsb-6 {
  fill: #e6b0b2;
}
.clsb-7 {
  fill: #fffeef;
}
.clsb-8 {
  fill: #5e4838;
}
